* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 16px;
}

.container {
    max-width: 1440px;
    margin: 0 auto;

}

.navigation {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 20px;
}

.nav_list {
    list-style: none;
    display: flex;
}

.link {
    padding: 0 20px;
    line-height: 50px;
    text-decoration: none;
    font-size: 16px;
}

.link:hover {
    color: #5a5959; 
    text-decoration: underline; 
}

.link:visited {
    color: darkolivegreen; 
}

.main_section {
    padding: 20px 150px;
    line-height: 25px;
}

/*.image-wrapper {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}*/

.avatar {
    width: 200px;
   /*height: 200px;*/
    border-radius: 50%;
    margin-right: 100px;
}

.section_title {
    padding: 10px 0;

}

.portfolio {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /*padding: 20px;*/
}

.introduce {

}

.introduce .section_title {
    font-size: 35px;
}

.introduce .description {
    font-size: 20px;
    margin-top: 20px;
    text-align: left;
}

.contact_list {
    list-style: none;
}

.skill_list {
    list-style: none;
}

.skill_list-item {
   /* padding-left: 10px;*/
}

.skill_list-item:before {
    content: '\2713';
    padding-right: 10px;
}

